# Python Imports:
*.pyc

# C Binary Files:
*.d
*.o

# Tmp Files:
*~

# Java Files:
*.class
*.jar

# IntelliJ Trash Files:
.idea/
out/
*.iml

# Ant Build Files:
/build
/libs
.ant-targets-build.xml

# Ejecutables
/Debug
/Release

# Log
log.txt

# Archivos editables de Gimp
*.xcf